os: windows

language: go

go:
  - 1.18.x

services:
  - postgresql
  - docker

script:
  # Test the code
  - go test -v 

env:
  - APP_DB_USERNAME=postgres APP_DB_PASSWORD=geheim APP_DB_NAME=pg_database
